[submodule "deps/pokeagb"]
	path = deps/pokeagb
	url = https://github.com/EternalCode/g3headers
	branch = master
[submodule "deps/armips"]
	path = deps/armips
	url = https://github.com/Kingcom/armips
	branch = master
